$green: #e3f6ec;
$lightorange: #FFE4C8;
$darkorange: #F9BE81;
$lightblue: #5684AE;
$darkblue: #0F4C81;

$main-color: #15639b;

$txt-title-color: #E4F6ED;
$txt-bold-color:#222;

$btn-main-color: #fff;

$header-height: 100px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;
$header-shrink-height: 80px;


$mobile:415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop:1660px;

